<main>

	<form [formGroup]="phoneNumberForm">
		<h3>Sign Up</h3>

		<mat-form-field appearance="outline">
			<mat-label>Phone Number *</mat-label>
			<mat-icon matPrefix>settings_cell</mat-icon>
			<mat-hint>Required Field</mat-hint>
			<input formControlName="phoneNumber" type="text" matInput>
		</mat-form-field>

		<button (click)="openModal()" [disabled]="'INVALID' === phoneNumberForm.status" mat-raised-button color="primary">Continue</button>
	</form>

	<aside>
		<h3>Why We Ask For Phone Numbers ?</h3>

		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dolores fugit quae non, ut aspernatur odit hic tempore error ad sint ipsum voluptates placeat atque? Qui iusto atque veritatis esse porro iste voluptate omnis autem aut similique voluptates cum fugiat, repudiandae, quae minima quibusdam officia, et eius itaque. Voluptatum, quaerat.</p>
	</aside>

</main>
