footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 0px;
	background-color: #363738;

	.Links {
		font-size: 18px;
		color: #FFF;

		span {
			display: block;
			margin: 25px 0px;
			text-decoration: none;
			color: #FFF;
		}
	}

	.Logo {
		width: 192px;
		height: auto;

		img {
			width: 100%;
			height: inherit;
		}
	}
}
