footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 0px;
	background-color: #363738;

	section {
		font-size: 18px;
		color: #FFF;

		span {
			display: block;
			margin: 25px 0px;
			color: #FFF;
			cursor: pointer;
		}
	}

	aside {
		width: 192px;
		height: auto;
		cursor: pointer;

		img {
			width: 100%;
			height: inherit;
		}
	}
}
