main {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 50%;
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 42px;
	}

	mat-list {
		width: 50%;
		margin: 0 auto;

		mat-list-item {
			margin-bottom: 12.5px;

			&:first-of-type {
				cursor: pointer;
			}

			&:last-of-type {
				margin-bottom: 0px;
			}

			mat-icon {
				font-size: 24px;
				color: #3F51B5;
			}

			a {
				text-decoration: none;
			}

			.Label {
				font-size: 16px;
				font-weight: 700;
			}

			.Content {
				color: #67696B;
			}
		}
	}
}
