<main>

	<h1>Imprint</h1>

	<mat-list>

		<mat-list-item matTooltip="Click To Send Mail" matTooltipPosition="left">
			<mat-icon mat-list-icon>email</mat-icon>
			<span mat-line class="Label">Contacts:
				<a [href]="'mailto:' + companyDetails.contacts" class="Content">{{ companyDetails.contacts }}</a>
			</span>
		</mat-list-item>

		<mat-list-item>
			<mat-icon mat-list-icon>room</mat-icon>
			<span mat-line class="Label">Headquarters:
				<span class="Content">{{ companyDetails.headquarters }}</span>
			</span>
		</mat-list-item>

		<mat-list-item>
			<mat-icon mat-list-icon>pin</mat-icon>
			<span mat-line class="Label">Tax Number:
				<span class="Content">{{ companyDetails.taxNumber }}</span>
			</span>
		</mat-list-item>

		<mat-list-item>
			<mat-icon mat-list-icon>dialpad</mat-icon>
			<span mat-line class="Label">Registration Number:
				<span class="Content">{{ companyDetails.registrationNumber }}</span>
			</span>
		</mat-list-item>

		<mat-list-item *ngFor="let payload of companyDetails.importantCompanyInformation">
			<mat-icon mat-list-icon>info</mat-icon>
			<span mat-line class="Label">Important Company Content:
				<span class="Content">{{ payload }}</span>
			</span>
		</mat-list-item>

	</mat-list>

</main>
