<main class="Items">
	<h1>Quica Wallet</h1>

	<section class="Items__Waiting-To-Be-Sold">
		<quica-items-waiting-to-be-sold-table></quica-items-waiting-to-be-sold-table>
	</section>

	<section class="Items__Shared-Waiting-Approval-Payment">
		<quica-items-shared-waiting-approval-payment></quica-items-shared-waiting-approval-payment>
	</section>

	<section class="Items__Pending-Deals-Sells">
		<quica-pending-deals-sells></quica-pending-deals-sells>
	</section>

	<section class="Items__Pending-Deals-Buys">
		<quica-pending-deals-buys></quica-pending-deals-buys>
	</section>

	<section class="Items__Payment-History">
		<quica-payment-history></quica-payment-history>
	</section>
</main>
