<main class="Items">

	<h1>Quica Wallet</h1>

	<section class="Items__Waiting-To-Be-Sold-Table">
		<quica-items-waiting-to-be-sold-table></quica-items-waiting-to-be-sold-table>
	</section>

	<section class="Items__Shared-Waiting-Approval-Payment-Table">
		<quica-items-shared-waiting-approval-payment-table></quica-items-shared-waiting-approval-payment-table>
	</section>

	<section class="Items__Pending-Deals-Sells-Table">
		<quica-pending-deals-sells-table></quica-pending-deals-sells-table>
	</section>

	<section class="Items__Pending-Deals-Buys-Table">
		<quica-pending-deals-buys-table></quica-pending-deals-buys-table>
	</section>

	<section class="Items__Payment-History-Table">
		<quica-payment-history-table></quica-payment-history-table>
	</section>

</main>
