.Items {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
		font-size: 42px;
	}

	&__Waiting-To-Be-Sold {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0px;
		}
	}

	&__Shared-Waiting-Approval-Payment {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0px;
		}
	}

	&__Pending-Deals-Sells {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0px;
		}
	}

	&__Pending-Deals-Buys {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0px;
		}
	}

	&__Payment-History {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		&:last-of-type {
			padding-bottom: 0px;
		}
	}
}
