h3 {
	width: 75%;
	font-size: 24px;
}

.Loader {
	height: 4px;
}

table, mat-paginator {
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 24%), 0px 4px 5px 0px rgb(0 0 0 / 16%), 0px 1px 10px 0px rgb(0 0 0 / 16%);

	th {
		background-color: #F5F8FA;
		text-align: center;
	}

	tr {
		&:nth-of-type(even) {
			background-color: #F2F8FC;
		}
	}

	th, td {
		padding: 12.5px 25px;

		img {
			width: 48px;
			height: 48px;
			margin-right: 12.5px;
		}
	}

	.Product-Image-Name {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
