<h3>Active</h3>

<section class="Loader">
	<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
</section>

<table mat-table [dataSource]="sampleData" matSort matSortActive="Price" matSortDirection="asc">

	<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

	<ng-container matColumnDef="Select">
		<th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && areAllRowsSelected()" [indeterminate]="selection.hasValue() && !areAllRowsSelected()" color="primary">Listing Name</mat-checkbox>
		</th>

		<td mat-cell *matCellDef="let row">
			<mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">{{ row.created_at | date }}</mat-checkbox>
		</td>
	</ng-container>

	<ng-container matColumnDef="Price">
		<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Price</th>
		<td mat-cell *matCellDef="let row">{{ row.price + " Ft" }}</td>
	</ng-container>

	<ng-container matColumnDef="Comission">
		<th mat-header-cell *matHeaderCellDef>Comission</th>
		<td mat-cell *matCellDef="let row">{{ row.price + " %" }}</td>
	</ng-container>

	<ng-container matColumnDef="Times Shared">
		<th mat-header-cell *matHeaderCellDef>Times Shared</th>
		<td mat-cell *matCellDef="let row">{{ row.price <= 1 ? "Shared " + row.price + " Time" : "Shared " + row.price + " Times" }}</td>
	</ng-container>

	<ng-container matColumnDef="Action">
		<th mat-header-cell *matHeaderCellDef>Action</th>
		<td mat-cell *matCellDef="let row">
			<button *ngIf="1 === row.action" (click)="action(row)" mat-stroked-button class="Action-Button">Refund Comission</button>
			<button *ngIf="2 === row.action" (click)="action(row)" mat-stroked-button class="Action-Button">Pay Comission In Advance</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="Edit Listing">
		<th mat-header-cell *matHeaderCellDef>Edit Listing</th>
		<td mat-cell *matCellDef="let row">
			<button (click)="editListing(row)" mat-stroked-button color="primary" class="Edit-Button">Edit</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="Remove All">
		<th mat-header-cell *matHeaderCellDef>
			<button (click)="removeSelectedListings()" mat-raised-button color="warn" class="Remove-All-Button">Remove All</button>
		</th>

		<td mat-cell *matCellDef="let row">
			<button (click)="removeListing(row)" mat-raised-button color="primary" class="Remove-Button">Remove</button>
		</td>
	</ng-container>

</table>

<mat-paginator [length]="totalResults" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
