<h3>Items Waiting To Be Sold</h3>

<p>These Are The Listings That You Shared. As Soon As The Deal Is Made ( Product Is Sold ), They Will Go To The Table Below.</p>

<section class="Table-Loader">
	<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
</section>

<table mat-table [dataSource]="ELEMENT_DATA" matSort matSortActive="ID" matSortDirection="asc">
	<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

	<ng-container matColumnDef="ID">
		<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID</th>
		<td mat-cell *matCellDef="let row">{{ row.comission }}</td>
	</ng-container>

	<ng-container matColumnDef="Listing Name">
		<th mat-header-cell *matHeaderCellDef>Listing Name</th>
		<td mat-cell *matCellDef="let row">{{ row.listingName }}</td>
	</ng-container>

	<ng-container matColumnDef="Price">
		<th mat-header-cell *matHeaderCellDef>Price</th>
		<td mat-cell *matCellDef="let row">{{ row.price }}</td>
	</ng-container>

	<ng-container matColumnDef="Possible Max Comission">
		<th mat-header-cell *matHeaderCellDef>Possible Max Comission</th>
		<td mat-cell *matCellDef="let row">{{ row.status }}</td>
	</ng-container>

	<ng-container matColumnDef="Date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let row">{{ row.timesShared | date }}</td>
	</ng-container>
</table>

<mat-paginator [length]="totalResults" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
