main {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 42px;
	}

	h3 {
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 24px;
	}

	h5 {
		text-align: justify;
		font-size: 18px;
	}

	form {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;

		mat-form-field {
			display: block;
			width: 50%;
			margin-bottom: 50px;
		}

		mat-checkbox {
			display: block;
			margin-bottom: 25px;
			text-align: justify;

			&:last-of-type {
				display: block;
				margin-bottom: 50px;
				text-align: justify;
			}
		}
	}

	section {
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:first-of-type {
			margin-bottom: 25px;
		}

		button {
			width: 200px;
			margin-right: 12.5px;
		}

		div {
			width: 36px;
			height: 36px;
		}
	}
}
