<h3>Payment History</h3>

<p>These Are Your Previous Transactions. Here You Will Find All Completed Sales, Shares And Purchases</p>

<aside class="Loader">
	<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
</aside>

<table mat-table [dataSource]="sampleData" matSort matSortActive="ID" matSortDirection="asc">
	<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

	<ng-container matColumnDef="Listing Name">
		<th mat-header-cell *matHeaderCellDef>Listing Name</th>
		<td mat-cell *matCellDef="let row" class="Product-Image-Name">
			<img [src]="row.productImage" alt="Product Image" draggable="false">
			<section>
				<aside>{{ row.listingName | titlecase }}</aside>
				<aside># {{ row.id }}</aside>
			</section>
		</td>
	</ng-container>

	<ng-container matColumnDef="Deal">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let row">{{ row.deal }}</td>
	</ng-container>

	<ng-container matColumnDef="Price">
		<th mat-header-cell *matHeaderCellDef>Price</th>
		<td mat-cell *matCellDef="let row">{{ row.price }} Ft</td>
	</ng-container>

	<ng-container matColumnDef="Comission">
		<th mat-header-cell *matHeaderCellDef>Comission</th>
		<td mat-cell *matCellDef="let row">{{ row.maxPossibleComission }} Ft</td>
	</ng-container>

	<ng-container matColumnDef="Date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let row">{{ row.date |date }}</td>
	</ng-container>

	<ng-container matColumnDef="Status">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let row">{{ row.status }}</td>
	</ng-container>
</table>

<mat-paginator [length]="totalResults" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
