<main>

	<h1>Quica Wallet</h1>

	<section>
		<quica-items-waiting-to-be-sold-table></quica-items-waiting-to-be-sold-table>
	</section>

	<quica-balance></quica-balance>

	<section>
		<quica-items-shared-waiting-approval-payment-table></quica-items-shared-waiting-approval-payment-table>
	</section>

	<section>
		<quica-pending-deals-sells-table></quica-pending-deals-sells-table>
	</section>

	<section>
		<quica-pending-deals-buys-table></quica-pending-deals-buys-table>
	</section>

	<section>
		<quica-payment-history-table></quica-payment-history-table>
	</section>

</main>
