.User-Saved-Listings {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 75%;
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 42px;
	}

	&__Table {
		width: 75%;
		margin: 0 auto;
	}
}
