<main>

	<h1>What Is Quica And How Does It Work ?</h1>

	<h3>Community Sales</h3>

	<h5>Commission For Sharing !
		An Acquaintance Shared A Product With You For Sale Because They Think You Care.
		If You Are Right, You Can Buy It Here And Now.
		And If You Don’t Need It, But You Know Someone You Think You’re Interested In, You Can Share With It And Make Money With It !
		Because If You Tell The Buyer First, You Get A Commission !
		Check Out How Quica Works In This Two-Minute Video :</h5>

	<video controls preload="metadata">
		<source src="../../assets/Sample Video.mp4" type="video/mp4">
	</video>

	<section *ngFor="let payload of generalInformation; index as _Index">
		<h3>{{ payload.title | titlecase }}</h3>

		<mat-list>

			<section>
				<mat-list-item *ngFor="let payload of payload.summary; index as _Index">
					<mat-chip-list>
						<mat-chip selected color="primary">{{ _Index + 1 }}</mat-chip>
					</mat-chip-list>

					<span>{{ payload | titlecase }}</span>
				</mat-list-item>
			</section>

			<aside>
				<img [src]="payload.imageURL" [alt]="_Index" draggable="false">
			</aside>

		</mat-list>
	</section>

	<aside>
		<h3>Frequently Asked Questions</h3>

		<mat-expansion-panel *ngFor="let payload of FAQs" (opened)="panelState = true" (closed)="panelState = false">
			<mat-expansion-panel-header>
				<mat-panel-title class="Question">{{ payload.question | titlecase }}</mat-panel-title>
			</mat-expansion-panel-header>

			<p class="Answer">{{ payload.answer | titlecase }}</p>
		</mat-expansion-panel>
	</aside>

</main>
