<main>

	<h1>About Quica</h1>

	<video controls preload="metadata">
		<source type="video/mp4" src="../../assets/Sample Video.mp4">
	</video>

	<section *ngFor="let payload of userInformation; index as _Index" class="User-Information">
		<h3>{{ payload.title | titlecase }}</h3>

		<mat-list>

			<section>
				<mat-list-item *ngFor="let payload of payload.summary; index as _Index">
					<mat-chip-list>
						<mat-chip selected color="primary">{{ _Index + 1 }}</mat-chip>
					</mat-chip-list>

					<span>{{ payload | titlecase }}</span>
				</mat-list-item>
			</section>

			<aside>
				<img [src]="payload.imageURL" [alt]="_Index" draggable="false">
			</aside>

		</mat-list>
	</section>

	<section class="FAQ">
		<h3>FAQ</h3>

		<mat-expansion-panel *ngFor="let payload of FAQs" (opened)="panelState = true" (closed)="panelState = false">
			<mat-expansion-panel-header>
				<mat-panel-title class="Question">Q: {{ payload.question | titlecase }}</mat-panel-title>
			</mat-expansion-panel-header>

			<p class="Answer">A: {{ payload.answer | titlecase }}</p>
		</mat-expansion-panel>
	</section>

</main>
