main {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 36px;
	}

	h3 {
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 28px;
	}

	h5 {
		width: 75%;
		margin: 0 auto 50px auto;
		text-align: justify;
		font-size: 16px;
	}

	video {
		display: block;
		width: 50%;
		margin: 0 auto 100px auto;
	}

	section {
		width: 75%;
		margin: 0 auto;

		h3 {
			text-align: center;
			font-size: 24px;
		}

		mat-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50px;

			mat-chip {
				margin-right: 25px;
			}

			aside {
				width: 192px;
				height: 192px;

				img {
					width: inherit;
					height: inherit;
				}
			}
		}
	}

	aside {
		width: 50%;
		margin: 0 auto;

		h3 {
			margin-bottom: 25px;
			text-align: center;
			font-size: 24px;
		}

		.Question {
			font-size: 16px;
		}

		.Answer {
			font-size: 14px;
		}

		mat-expansion-panel {
			margin-bottom: 12.5px;

			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}
}
