.Profile {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 25%;
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
		font-size: 42px;
	}

	.AAA {
		width: 25%;
		margin: 0px auto 25px auto;

		img {
			display: block;
			width: 128px;
			height: 128px;
			margin: 0 auto 25px auto;
			border-radius: 100%;
		}
	}

	mat-form-field {
		display: block;
		width: 25%;
		margin: 0 auto;
	}

	button {
		display: block;
		margin: 0 auto;
	}

	&__Upload-Profile-Picture-Button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 12.5px;

		button {
			width: 250px;
			margin: 12.5px;
		}
	}

	&--Upload-ID-Scan-Button {
		margin-bottom: 25px;
	}

	&__ID-Scan {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 25px auto;
		width: 25%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__Submit-Button {
		width: 150px;
	}
}
