<main class="Profile">
	<h1>User Profile</h1>

	<form (ngSubmit)="submitProfileForm()" [formGroup]="profileForm">

		<section class="AAA">
			<img [src]="isProfilePicturePresent ? base64ProfilePictureURL : '../../assets/Profile Picture.png'" alt="Profile Picture" draggable="false" class="Picture">
			<button (click)="File_Input.click()" type="button" mat-raised-button color="primary" class="Upload-Button">Upload Profile</button>
			<input formControlName="userProfilePicture" #File_Input (change)="uploadProfilePicture($event)" [hidden]="true" type="file" accept="image/*">
		</section>

		<mat-form-field appearance="outline">
			<mat-icon matPrefix>drive_file_rename_outline</mat-icon>
			<mat-label>First Name *</mat-label>
			<input formControlName="firstName" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-icon matPrefix>drive_file_rename_outline</mat-icon>
			<mat-label>Last Name *</mat-label>
			<input formControlName="lastName" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-icon matPrefix>drive_file_rename_outline</mat-icon>
			<mat-label>Phone Number *</mat-label>
			<input formControlName="phoneNumber" matInput type="number">
			<mat-hint>When You Change Your Phone Number We Verify It By An SMS.</mat-hint>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-icon matPrefix>drive_file_rename_outline</mat-icon>
			<mat-label>Email *</mat-label>
			<input formControlName="email" matInput type="email">
			<mat-hint>When You Change Your Email Address We Verify It By An Email.</mat-hint>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-icon matPrefix>password</mat-icon>
			<mat-label>Password *</mat-label>
			<input formControlName="password" matInput autocomplete type="password">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Date Of Birth</mat-label>
			<input formControlName="dateOfBirth" matInput [matDatepicker]="Picker">
			<mat-datepicker-toggle matSuffix [for]="Picker"></mat-datepicker-toggle>
			<mat-datepicker #Picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Place Of Birth</mat-label>
			<input formControlName="placeOfBirth" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Gender *</mat-label>
			<mat-select>
				<mat-option value="Male">Male</mat-option>
				<mat-option value="Female">Female</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>ZIP Code</mat-label>
			<input formControlName="zipCode" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>City</mat-label>
			<input formControlName="city" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Street</mat-label>
			<input formControlName="street" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>House Number</mat-label>
			<input formControlName="houseNumber" matInput type="text">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Bio</mat-label>
			<textarea formControlName="bio" #autosize="cdkTextareaAutosize" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
		</mat-form-field>

		<section class="Profile--Upload-ID-Scan-Button">
			<button (click)="FileInput.click()" type="button" mat-raised-button color="primary" class="Upload-Button">Upload Scan Of Your ID Card *</button>
			<input formControlName="IDScan" #FileInput (change)="uploadIDScan($event)" [hidden]="true" type="file" accept="image/*">
			<aside>
				<mat-spinner *ngIf="isIDScanUploading" diameter="36" color="warn"></mat-spinner>
			</aside>
		</section>

		<section *ngIf="isIDScanPresent" class="Profile__ID-Scan">
			<img [src]="base64IDScanURL" alt="ID Scan" draggable="false">
		</section>

		<button mat-raised-button type="submit" color="primary" class="Profile__Submit-Button">Save</button>

	</form>

</main>
