main {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 75%;
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 42px;
	}

	.Profile-Completion-Status {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 12.5px;

		aside {
			width: 25%;
			padding: 12.5px;
			background-color: #FFF;
			border-radius: 12.5px;
			box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 24%), 0px 4px 5px 0px rgb(0 0 0 / 16%), 0px 1px 10px 0px rgb(0 0 0 / 16%);

			.Percentage {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 12.5px;
				font-size: 18px;
				font-weight: 500;
			}

			.Progress-Bar {
				mat-progress-bar {
					height: 12.5px;
					border-radius: 12.5px;
				}

				margin-bottom: 12.5px;
			}
		}
	}

	.Profile-Picture {
		width: 128px;
		height: 128px;
		margin: 0px auto 25px auto;
		position: relative;

		img {
			display: block;
			width: inherit;
			height: inherit;
			margin: 0 auto 25px auto;
			border-radius: 100%;
			cursor: pointer;
		}

		mat-icon {
			position: absolute;
			top: -12.5px;
			right: -12.5px;
			color: #363738;
			cursor: pointer;
		}

		mat-spinner {
			margin: 0 auto;
		}
	}

	mat-form-field {
		display: block;
		width: 400px;
		margin: 0 auto 12.5px auto;

		&:last-of-type {
			margin-bottom: 50px;
		}
	}

	.ID-Scan {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 512px;
		height: 256px;
		margin: 0 auto 50px auto;
		cursor: pointer;
		position: relative;

		h4 {
			font-size: 24px;
		}

		mat-icon {
			position: absolute;
			top: -12.5px;
			right: -12.5px;
			color: #363738;
		}

		img {
			width: inherit;
			height: inherit;
			object-fit: scale-down;
		}
	}

	.Submit-Button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;

		button {
			width: 150px;
			display: block;
			margin: 0px 12.5px;
		}

		div {
			width: 36px;
			height: 36px;
		}
	}
}
