main {
	padding-bottom: 50px;
	background-color: #F5F8F1;

	h1 {
		width: 75%;
		margin: 0 auto 50px auto;
		text-align: center;
		font-size: 42px;
	}

	h3 {
		width: 75%;
		margin: 0 auto 12.5px auto;
		font-size: 24px;
		font-weight: 500;
	}

	p {
		width: 75%;
		margin: 0 auto 50px auto;
		font-size: 18px;
		text-align: justify;
	}

	section {
		width: 75%;
		height: 500px;
		margin: 0 auto 50px auto;
	}

	button {
		display: block;
		margin: 0 auto;
		width: 200px;
	}

	mat-slider {
		display: block;
		width: 25%;
		margin: 0 auto 50px auto;
	}

	.Map {
		width: 50%;
		height: 300px;
		margin: 0 auto 50px auto;
	}
}
