<h3>Pending Deals Of My Sells</h3>

<p>These Are The Listings That You Sold. You Need To Approve Every Deal And You Have To Pay The Comission.</p>

<section class="Table-Loader">
	<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
</section>

<table mat-table [dataSource]="ELEMENT_DATA">

	<ng-container matColumnDef="Select">
		<th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && areAllRowsSelected()" [indeterminate]="selection.hasValue() && !areAllRowsSelected()" color="primary">ID</mat-checkbox>
		</th>

		<td mat-cell *matCellDef="let row">
			<mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">{{ row.created_at | date }}</mat-checkbox>
		</td>
	</ng-container>

	<ng-container matColumnDef="Listing Name">
		<th mat-header-cell *matHeaderCellDef>Listing Name</th>
		<td mat-cell *matCellDef="let row">{{ row.comission }}</td>
	</ng-container>

	<ng-container matColumnDef="Price">
		<th mat-header-cell *matHeaderCellDef>Price</th>
		<td mat-cell *matCellDef="let row">{{ row.comission }}</td>
	</ng-container>

	<ng-container matColumnDef="Comission">
		<th mat-header-cell *matHeaderCellDef>Comission</th>
		<td mat-cell *matCellDef="let row">{{ row.listingName }}</td>
	</ng-container>

	<ng-container matColumnDef="Approved By Other Party ?">
		<th mat-header-cell *matHeaderCellDef>Approved By Other Party ?</th>
		<td mat-cell *matCellDef="let row">{{ row.comission }}</td>
	</ng-container>

	<ng-container matColumnDef="Date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let row">{{ row.comission }}</td>
	</ng-container>

	<ng-container matColumnDef="Payment Due">
		<th mat-header-cell *matHeaderCellDef>Payment Due</th>
		<td mat-cell *matCellDef="let row">{{ row.price }}</td>
	</ng-container>

	<ng-container matColumnDef="Cancel">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element">
			<!-- <button (click)="removeSelectedListings()" mat-raised-button color="primary">Cancel</button> -->
		</td>
	</ng-container>

	<ng-container matColumnDef="Approve">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element">
			<button (click)="removeSelectedListings()" mat-raised-button color="primary">
				<span>Approve And Pay Comission</span>
				<mat-icon class="Label">error_outline</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

</table>

<mat-paginator [length]="totalResults" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>

<section class="Payment">
	<span class="Payment__Amount">Total Amount Selected: {{ 12000 + " Ft" }}</span>
	<!-- <button (click)="removeSelectedListings()" mat-raised-button color="primary">Pay Comission For Selected</button> -->
</section>
