main {
	clear: both;

	mat-icon {
		float: right;
		cursor: pointer;
	}

	h3 {
		font-size: 18px;
		text-align: center;
	}

	mat-form-field {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto 25px auto;

		input {
			text-align: center;
		}
	}

	button {
		display: block;
		width: 150px;
		margin: 0 auto 25px auto;
	}

	.Loader {
		height: 36px;
		width: 36px;
		margin: 0 auto;
	}
}
