@import '~@angular/material/theming';
@include mat-core();

$quica-primary: mat-palette($mat-indigo);
$quica-accent: mat-palette($mat-pink, A200, A100, A400);
$quica-warn: mat-palette($mat-red);

$quica-theme: mat-light-theme((
	color: (
		primary: $quica-primary,
		accent: $quica-accent,
		warn: $quica-warn,
	)
));

@include angular-material-theme($quica-theme);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
