<main>

	<h1>You Are Buying</h1>

	<h3>Listing Name</h3>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas numquam quibusdam enim corrupti, saepe tempore reprehenderit unde ex! Quam, esse.</p>

	<h3>Condition</h3>
	<p>Like New</p>

	<h3>Description</h3>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores dignissimos, repellendus debitis, sapiente voluptates veritatis aliquam ipsa tempora tempore nihil distinctio quibusdam odio id placeat laborum. Quidem, alias debitis illo odio aspernatur, deleniti tempora, harum totam dolorem repellendus amet nihil corporis voluptas eos eveniet possimus minima eius aliquam. Culpa magni voluptatibus nostrum. Commodi facilis, quidem, est cum nemo tempora, saepe nulla doloribus cumque dicta unde ratione quia. Ipsa ad, esse aut dolores corporis ab mollitia quia sint saepe voluptatibus id eius quidem ducimus nam magnam. Porro autem commodi eius neque accusamus facilis, minima voluptatum ea, repudiandae totam dicta quas.</p>

	<h3>Price</h3>
	<p>{{ 100000 + " Ft" }}</p>

	<h3>Product Location</h3>
	<section #MAP></section>

	<h3>Shipping</h3>
	<p>Personal Pickup</p>

	<button (click)="goToSucessPage()" mat-raised-button color="primary">BUY</button>

</main>
